{% extends 'main.html' %}
{% load static%}
{% block content %}
<head>
</head>
<body>
    <h4>Displaying assignments of : {{course}}</h4>
    <br><br>
    {%for assign in assignments %}
            
    <div class="card " style="width: 18rem;border:5px black solid;">
        
        <h5 class="card-title">
            <a href=''><h3>{{assign.title}}</h3></a> 
            <div class="card-body container">
                    <p>{{assign.content}}</p>
                </h5>
                <hr>
                <p>Marks: {{assign.marks}}</p>
                <p>Duration: {{assign.duration}} </p>
                <hr> 
                <!-- {{assign.file.url}} -->
               <a class="btn btn-sm btn-info" href= "{{assign.file.url}}" download> download assignment </a>
               {% if request.user.is_staff %}
               <a class="btn btn-sm btn-success" href="{% url 'viewSubmissions' assign.id %}">View Submissions</a>
               {% else %}
               <a class="btn btn-sm btn-success" href="{% url 'submitassignment' assign.id %}">Submit</a>\
               {% endif %}
               <br>
    </div>
    </div>       
    {%endfor%}
</body>
{% endblock %}